# http://www.cyberciti.biz/tips/bash-aliases-mac-centos-linux-unix.html
# https://github.com/mathiasbynens/dotfiles/

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias dropbox="cd ~/Documents/Dropbox"
alias downloads="cd ~/Downloads"
alias desktop="cd ~/Desktop"
alias g="git"
alias gco="git checkout"
alias h="history"
alias v="vim"
alias o="open"
alias sleepnow="pmset sleepnow"

# pretty print json
# usage: curl **.json | prettyjson
# usage: prettyjson myfile.json
alias prettyjson="python3 -m json.tool"

# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then
  colorflag="--color"
else
  colorflag="-G"
  export CLICOLOR=1
  # optional: BSD ls color scheme
  # export LSCOLORS="ExFxBxDxCxegedabagacad"
fi

# List all files colorized in long format
#alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias l="ls -lah ${colorflag}"

# List only directories
alias lsd='ls -ld */ 2>/dev/null'

# List all files as simple 1 column list
alias lsl="ls -1 ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Copy current pwd to clipboard
# alias p="pwd | tr -d '\n' | pbcopy && echo -e '\e[37mCopied pwd to clipboard.\e[0m'"
p() {
  local pwd_output
  pwd_output="$(pwd)"
  printf "%s" "$pwd_output" | pbcopy
  printf "\e[90mCopied\e[0m \e[37m%s\e[0m to clipboard.\n" "$pwd_output"
}


# Gzip-enabled `curl`
alias gurl='curl --compressed'

# echo $PATH seperated on lines
alias path='printf "%s\n" "$PATH" | tr ":" "\n"'

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update'

# Recursively delete not needed files
cleanup() {
  # Optional safety prompt - out-comment?!
  echo -n "Fortfahren? (J/n): "
  read confirmation

  # Die folgende Logik bleibt gleich
  if [[ "$confirmation" != "J" && "$confirmation" != "j" ]]; then
    echo "Reinigung abgebrochen."
    return 1
  fi

  # 1. Ensure the 'find' command supports what we use.
  # 2. `-depth`: Processes subdirectories before their contents, important for 'node_modules'.
  # 3. `-type d -name 'node_modules'` should not be executed with `-exec`,
  #    when mixed with other files, as `rm -rf` is applied to filenames.
  #    Better: Two separate `find` calls or a more complex strategy.

  echo "🔎 Searching for temporary and build files..."

  # --- part One: Search and delete files ---

  find . -depth \
    \( -name '.DS_Store' -o -name '*.pyc' -o -name '*.pyo' -o -name '*.egg-info' \
       -o -iname 'desktop.ini' -o -iname 'thumbs.db' \) \
    -exec echo "Deleting file: {}" \; \
    -exec rm -f -- {} +

  # --- part Two: Search and delete directories ---
  find . -depth \
    \( -name '__MACOSX' -o -name 'node_modules' \) \
    -type d \
    -exec echo "Deleting directory: {}" \; \
    -exec rm -rf -- {} +

  echo "✅ Cleanup completed."
}


alias cleanuppy="rm -rf .installed.cfg .mr.developer.cfg bin Paste* eggs develop-eggs parts var/log && cleanup"
alias cleanplonedb="rm -rf blobstorage filestorage instance1 log eggcache"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Generate sha1 digest
alias sha1='openssl sha1'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"

# IP addresses
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Start server, with current Directory as root
# -> .functions
#alias server="python -m SimpleHTTPServer 8000"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
chromekill() {
  local pids
  pids=$(ps ax -o pid=,command= | awk '/Chrome Helper --type=renderer/ && !/extension-process/ {print $1}')
  [ -n "$pids" ] && echo "$pids" | xargs kill
}

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
